<%- include('layout/header') -%>

<div class="container mt-4">
  <h1><%= title %></h1>

  <center>
    <h3>Welcome to the home page!</h3>
  </center>

  <h3 class="mb-3 text-primary">User Records</h3>
  

  <table class="table table-bordered table-striped table-hover">
    <thead class="table-dark">
      <tr>
        <th>Sl No</th>
        <th>Username</th>
        <th>Image</th>
        <th>Email</th>
        <th>Phone</th>
        <th>Actions</th>
      </tr>
    </thead>

    <tbody>
      <% if (users.length === 0) { %>
        <tr>
          <td colspan="5" class="text-center">No users found</td>
        </tr>
      <% } %>

      <% users.forEach((user, index) => { %>
        <tr>
          <td><%= index + 1 %></td>
          <td><%= user.username %></td>
         <td>
  <% if (user.image) { %>
    <img 
      src="/uploads/<%= user.image %>" 
      alt="User Image"
      width="80"
      height="80"
      style="object-fit: cover; border-radius: 6px;"
    >
  <% } else { %>
    No Image
  <% } %>
</td>

          <td><%= user.email %></td>
          <td><%= user.phone %></td>
          <td>
            <a href="/edit/<%= user._id %>" class="btn btn-sm btn-warning">Update</a>
            <a href="/delete/<%= user._id %>" class="btn btn-sm btn-danger"
               onclick="return confirm('Are you sure?')">Delete</a>
          </td>
        </tr>
      <% }) %>
    </tbody>
  </table>
</div>

<nav>
  <ul class="pagination justify-content-center">

    <!-- Previous -->
    <li class="page-item <%= currentPage === 1 ? 'disabled' : '' %>">
      <a class="page-link" href="/?page=<%= currentPage - 1 %>">Previous</a>
    </li>

    <!-- Page numbers -->
    <% for (let i = 1; i <= totalPages; i++) { %>
      <li class="page-item <%= i === currentPage ? 'active' : '' %>">
        <a class="page-link" href="/?page=<%= i %>"><%= i %></a>
      </li>
    <% } %>

    <!-- Next -->
    <li class="page-item <%= currentPage === totalPages ? 'disabled' : '' %>">
      <a class="page-link" href="/?page=<%= currentPage + 1 %>">Next</a>
    </li>

  </ul>
</nav>


<%- include('layout/footer') -%>
